*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
  background: linear-gradient(135deg, #b53b061e, #36006b00);
  height: 100vh;
}

.user-app  {
  width: 100%;
  max-width: 900px;
  padding: 40px 30px 70px;
  margin: 100px auto 50px;
  border-radius: 10px ;
  background: #ffffff;
}

.user-app h1 {
  color: #002765;
  display: flex;
  align-items: center;
  font-size: 25px;
  margin-bottom: 50px;
  padding: 50px;
}

.search{
  background-color: rgb(151, 89, 89);
  font-size: 25px;

}

.row {
  margin: 25px 0; 
}
.row input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 15px;
  background: rgba(225, 241, 225, 0.451);
  display: inline-block;
  width: 80%;
  border-radius: 10px;
  border: 1px solid transparent;
}
.row input:focus {
  border: 1px solid rgb(0, 127, 64);
}

.row button {
  border: none;
  outline: none;
  padding: 16px 40px;
  margin: 15px;
  color: #ffffff;
  background: #53090137;
  background: rgb(0, 127, 64);
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.task h4{
  font-size: 100%;
  text-align: center;
}

.task{
  display: flex;
  margin: 15px;
  justify-content: space-between;

}
.list svg{
  width: 20px;
}
.list{
  margin: 25px;
  display: flex;
  justify-content: space-between;
}
.list-task input {
  margin-bottom: 10px;
  margin-right: 10px;
}
.btn {
  background: transparent;
  border: none;
  outline: none;
  margin: 0 8px;
  cursor: pointer;

}